<div
  class="flies fixed w-[94px] h-[89px] pointer-events-none top-0 left-0 z-[10]"
  id="flies"
>
  <div class="rotate overflow-hidden relative w-[94px] h-[89px] rotate-45 scale-50">
    <img
      alt="butterfly"
      src="https://thesillybunny.co/_nuxt/img/batG_2.cf378ad.png"
      class="bat-1 absolute top-0 left-0  inherit-max-width"
    >
  </div>
</div>
<div
  class="flies fixed w-[94px] h-[89px] pointer-events-none top-0 left-0 z-[10]"
  id="flies"
>
  <div class="rotate overflow-hidden relative w-[94px] h-[89px] rotate-45 scale-50">
    <img
      alt="butterfly"
      src="https://thesillybunny.co/_nuxt/img/batG_2.cf378ad.png"
      class="bat-1 absolute top-0 left-0  inherit-max-width"
    >
  </div>
</div>

<div
  class="flies fixed w-[94px] h-[89px] pointer-events-none top-0 left-0 z-[10]"
  id="flies"
>
  <div class="rotate overflow-hidden relative w-[94px] h-[89px] rotate-45 scale-50">
    <img
      alt="butterfly"
      src="https://thesillybunny.co/_nuxt/img/batG_2.cf378ad.png"
      class="bat-1 absolute top-0 left-0  inherit-max-width"
    >
  </div>
</div>
