<div class="pb-0 pt-0 mb-0 mt-0">
  <div class="flex pl-[40px] pr-[40px]">
    <div class="flex-grow">
      <div>
        <div
          class="cursor fixed top-0 left-0 w-2 h-2 rounded-full bg-transparent z-[999999999] transform -translate-x-2 -translate-y-2 pointer-events-none"
        ></div>
        <div
          class="outline fixed top-0 left-0 w-[60px] h-[60px] rounded-full border border-[#6FB78F] z-[999999999] mix-blend-difference transform -translate-x-[64px] -translate-y-[64px] transition-all duration-300 ease-[cubic-bezier(0.215,0.610,0.355,1)] pointer-events-none"
        ></div>
      </div>
    </div>
  </div>
</div>
